---
const styleNav = "relative w-full flex flex-warp py-8 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
---

<nav class={styleNav}></nav>
<div class="p-8 mt-2 flex items-center justify-center"> 
    <h1 class="text-8xl font-bold text-black text-center"> Shorten URL</h1>
</div>